# Include the README
include *.md

# Include the license file
include LICENSE

# Include UI
include bluedo/window.glade

# Include a library
include bluedo/bt_rssi.py

# Include icon
include images/bluedo.png
