#! /usr/bin/make -f

export _PYTHON_HOST_PLATFORM:=${DEB_HOST_ARCH_OS}-${DEB_HOST_ARCH}
ifneq ($(DEB_BUILD_ARCH),$(DEB_HOST_ARCH))
	export _PYTHON_SYSCONFIGDATA_NAME:=_sysconfigdata__${DEB_HOST_ARCH_OS}_${DEB_HOST_MULTIARCH}
endif

#export DH_VERBOSE = 1
export PYBUILD_NAME = bluedo

%:
				dh $@ --builddirectory=build --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build; \
	done;

override_dh_auto_install:
	dh_auto_install
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done;
